@import url('https://fonts.googleapis.com/css2?family=DM+Sans&family=Epilogue:wght@400;500;600;700;800&display=swap');

body{
  font-family: 'DM Sans', sans-serif;
  font-size: 1.125rem;
}

h1{
  font-size: 4.5rem;
  font-weight: 700;
}
h2{
  font-size: 3rem;
  font-weight: 600;
}
div .home-banner{
  box-shadow: rgba(17, 17, 26, 0.1) 0px 1px 0px;
}
.about-school, section .testimonies{
  background-color: #f5fffa;
}

footer{
  background-color: #dcdcdc;
}

footer a{
  text-decoration: none;
  color: inherit;
}

section .bg-custom{
  background-color: #f5fffa ;
}
.carousel-item{
  padding: 0 8rem;
}