@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600;700;800&family=Poppins:wght@200;300;400;500;600;700;800;900&display=swap');

/* http://meyerweb.com/eric/tools/css/reset/ 2. v2.0 | 20110126
  License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center, 
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}
body {
  line-height: 1;
}
ol, ul {
  list-style: none;
}
blockquote, q {
  quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* =====================================================
Here is the root Style
========================================================
*/
:root{
    --primary-color: #001f54;
    --second-color: #1088f9;
    --accent1-color: #0a1128;
    --accent2-color: #35c2e9;

    --heading-font: Poppins;
    --paragraph-font: "Open Sans", sans-serif, Helvetica;

    --heading-color-in-white: black;
    --headline-color-on-color: #001f54;
    --paragraph-color-on-white: black;
    --paragraph-color-on-color: #fefcfb;
    --paragraph-background-color: #0a1128;
    --nav-link-color: #fefcfb;
    --nav-background-color: #1088f9;
    --nav-hover-link-color: #fefcfb;
    --nav-hover-background-color: #001f54;
}
*{
  box-sizing: border-box;
}
body{box-sizing: border-box;background-color: #fefcfb;padding: 0;font-family: var(--paragraph-font);line-height: 1.25;}
#container{box-sizing: border-box;margin: 0 auto;}
a,li{text-decoration: none;}
h1, h2, h3, h4, h5, h6{
  font-weight: bold;
}
a, a:hover{
  text-decoration: none;
}
.btn{
  padding: 10px;
  border-radius: 3px;
  border: 1px solid #1088f9;
  background-color: var(--nav-background-color);
}
.btn:hover{
  border: 1px solid #001f54;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
/* =====================================================
The Header for all pages
========================================================
*/
nav{
  background-color: var(--nav-background-color);
  padding: 5px 20px;
  display: flex;
  align-items: center;
}
nav a{
  color: var(--nav-link-color);
}
nav a:hover{
  background-color: var(--nav-hover-background-color);
  color: var(--nav-hover-link-color);
}
.logo{
  flex: 1;
  text-align: center;
  font-family: Impact, 'Arial Narrow Bold', sans-serif;
}
.logo a{
  display: flex;
  align-items: center;
  font-size: 1.25rem;
}
.logo a:hover{
  color: var(--nav-hover-link-color);
}
.menu{
  display: flex;
  align-items: center;
}
.menu a{
  padding: 15px 10px;
  font-size: 1.1rem;
}
.toggle{
  font-size: 30px;
  display: none;
}

@media screen and (max-width: 960px){
  nav{
    display: block;
    position: relative;
    padding: 15px 20px;
  }
  nav a{
    display: block;
  }
  .menu{
    margin-top: 15px;
    display: none;
  }
  .menu.active, .toggle{
    display: block;
  }
  .toggle{
    position: absolute;
    top: 15px;
    right: 20px;
  }
}
/* =====================================================
The Home page
========================================================
*/

/* =============
Content
*/
main{
  margin: 0 2px;
}
.home-banner{
  background: linear-gradient(90deg, rgba(8, 114, 133, 0.7) 0%, rgba(8, 114, 133, 0.7)), url(images/home-banner.png);
  position: relative;
  background-position: top;
  background-size: 100%;
  height: 78vh;
  background-repeat: no-repeat;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: white;
  text-align: center;
  gap: 20px;
}
.home-banner h3{
  font-size: 3.5rem;
  margin: 0 10%;
}
.home-banner p{
  font-size: 1.5rem;
  margin: 0 20%;
}